*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}




:root{
--primary-color : #595959;
--secundary-color : #333;
--bg-color : #f9f9f9;
--font-family:"Josefin Sans", sans-serif;
--shadow: #000000;
--transition-speed: 0.3s;
}




body{
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--secundary-color);
    line-height: 1.6;
    font-size: 16px;
}




header{
   display:flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 2rem 1rem;
   text-align: center;
   background: linear-gradient(45deg, var(--primary-color), #adadad);
   color: white;
}
nav{
    width: 100vw;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    transition: color var (--transition-speed);
}


nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background:white;
    left: 0%;
    bottom: -3px;
    transition: width var (--transition-speed);
}


nav a:hover{
    color: #e0e0e0;
}


nav a:hover::after{
    width: 100%;
}


main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
}


aside{
    background: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px var(--shadow);
    border-radius: 10px;
}


section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   
}
